<!DOCTYPE html>

<html>
<head>
  <title>Master</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <link href="/forms/css/app.css" rel="stylesheet">
</head>
<body style="background-color: rgb(247, 247, 249);">
<div>
  <div class="container" id="page">
    <form action="submit" method="POST" class="form-horizontal">
      <input type="hidden" value="<%= @id %>" name="id">

      <h1>CENTRA TOTAL WEB PRESENCE PROGRAM</h1>

      <div class="control-group">
        <label class="control-label">Date</label>

        <div class="controls">
          <input type="text" name="date" class="input-medium required"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Callback Date</label>

        <div class="controls">
          <input type="text" name="cbDate" class="input-medium required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Rep name</label>

        <div class="controls">
          <input type="text" name="repName" class="input-large required"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Phone number</label>

        <div class="controls">
          <input type="text" name="phone" class="input-medium required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Callback phone</label>

        <div class="controls">
          <input type="text" name="cbphone" class="input-medium required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Biz name</label>

        <div class="controls">
          <input type="text" name="name" class="input-large required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Biz Owner</label>

        <div class="controls">
          <input type="text" name="owner" class="input-large required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Biz Website</label>

        <div class="controls">
          <input type="text" name="website" class="input-xlarge required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Biz Email</label>

        <div class="controls">
          <input type="text" name="email" class="input-xlarge required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Location</label>

        <div class="controls">
          <input type="text" name="location" class="input-xlarge required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Current marketing budget</label>

        <div class="controls">
          <input type="text" name="budget" class="input-small required"/>$
        </div>
      </div>
      <h5>Fill in budget when applicable</h5>

      <div class="control-group">
        <label class="control-label">Yellow page</label>

        <div class="controls">
          <input type="text" name="budgetYellowPages" class="input-small required"/>$
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Google Ads</label>

        <div class="controls">
          <input type="text" name="budgetGoogle" class="input-small required"/>$
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">SEO</label>

        <div class="controls">
          <input type="text" name="budgetSeo" class="input-small required"/>$
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">TV</label>

        <div class="controls">
          <input type="text" name="budgetTv" class="input-small required"/>$
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Print (Mailer)</label>

        <div class="controls">
          <input type="text" name="budgetPrint" class="input-small required"/>$
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Other</label>

        <div class="controls">
          <input type="text" name="budgetOther" class="input-small required"/>$
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Services Sold</label>

        <div class="controls">
          <input type="text" name="servicesSold" class="input-large required"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Price Quoted</label>

        <div class="controls">
          <input type="text" name="priceQuoted" class="input-small required"/>$
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Notes</label>

        <div class="controls">
          <input type="text" name="notes" class="input-xlarge required"/>
        </div>
      </div>
      <div class="controls">
        <input type="submit" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
<div>
  <div id="siteseal">
    <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=e4HsCZaOevbjVp1RgFVG4kUorutpgpo10vaIZMv2Uvjp6LvNKSBvYs"></script>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script src="/forms/js/app.js"></script>


</body>
</html>