<p>
  Thank you for taking advantage in the Google Local Listing Management program from Centra.
</p>
<p>
  We have all the needed information to begin the process of establishing top placement within Google Maps. You will be
  receiving a postcard in the mail directly from Google.
<p/>
<p>
  Once this has been received click the link below.
  It will direct you back to our website where you can enter the verification code.
</p>
<p>
  You do not need to try and log into Google.
</p>
<p>
  <a href="http://centracorporation.com/google-local-listing-code#!<%= @customer_id %>>">Fill in your verification
    code</a>
</p>
<p>
  Don’t worry we will remind you in a few day with the same link when we believe you should have your code.
</p>
