<h3>Thank you for submitting your information.</h3>
<p>
  Keep an eye out for an email that will contain the preview to your mobile website.<br/>
  You will be assigned an advisor that will reach out to you once you have your preview in your email.<br/>
  Feel free to chat with us or browse our site.<br/>
  Also before you leave, go to the forum and enter your information; who you are, what you do, how to contact you, and a
  link back to your website. This is a simple backlink that can help ranking within Google.<br/>
</p>
<br/>
Thanks Again,<br/>
The Team @ Centra<br/>