<div style="width: 550px;">
  <div class="row-fluid">
    <div class="span12">
      <h3>Thank you for submitting your information.</h3>  <br/>A technical advisor is now going to implement the
      redirect so your mobile website goes live. Please allow up to 3 business days for this to take effect.
      If we have any issues with the information you submitted we will call you immediately. <br/><br/>
      Do not ever hesitate to call us if you have any questions or concerns.<br/>
      855-CENTRA-1 or 855-236-8721

    </div>
  </div>
</div>