<h2>yeah lets create a new ticket</h2>
<form action="submit-ticket" method="POST">
  <input type="text" name="customerEmail" placeholder="youremail@example.com"/>
  <br/>
  <input type="text" name="subject" placeholder="Subject"/>
  <br>
  <textarea name="issue" rows="10"></textarea>
  <br>
  <input type="submit" value="Send ticket"/>
</form>



