yeah lets create a new ticket
<form action="submit-ticket" method="POST">
  <input type="text" name="customerEmail" placeholder="youremail@example.com"/>
  <br>
  <input type="text" name="customerName" placeholder="Bob"/>
  <br/>
  <input type="text" name="subject" placeholder="Subject"/>
  <br>
  <textarea name="issue"></textarea>
  <input type="submit" value="Send ticket"/>
</form>



