<p>
  Centra Small Business wants to make sure this information can make it to the appropriate party. Please forward to the
  business owner or decision maker. We appreciate that someone expressed interest in our solutions at your business.
</p>
<p>
  We believe every business deserves the right to compete in their local market. In the very recent past we had
  identified key solutions that might be missing from your business. Our real attempt is to approach your business and
  offer a small investment in you.
</p>
<p>

  This information was intended for the owner or decision maker, and it seems we have reached on of your employees.
</p>
<p>

  We truly do a few things out of the gate for free. That is our investment in you. We have chosen services that yield
  high results and in turn, help establish a relationship of trust, in hopes that we can grow together as partners.
</p>
<p>

  Our initial offer is forever changing due to the high success of new Centra partners every day. We have now been able
  to include an all-encompassing idea to help with all your web presence needs.
</p>
<p>

  1) We offer web hosting for your currents business website for life for free.
  2) We will still offer the free mobile website conversion for your business. This is free. We ask that you host with
  us, but you are under no obligation to do so. Or hosting price is 24.99 per month. No hidden fees, no taxes. (Just
  think, you wouldn't make your website only available to apple mac users or people on Firefox, why exclude mobile
  users?)
  3) We are managing hundreds of clients’ Google Maps Placements, also known as Google Local Listing. If your business
  is not placed, you completion is taking down your potential revenue. We will provide this service and work for you for
  free for one month to produce results first. Most companies want money now and sell the promise.
</p>
<p>

  Centra Small Business, a division of Centra Corporation, is growing rapidly and primarily on the fact that we have
  identified that many major brand companies takes advantage of the small and medium sized businesses. We want to put an
  end to that.
</p>
<p>

  Call us just to ask question. Our advisers appreciate learning about all the different opportunities that are out
  there and what their background can bring to the table.
</p>
<p>

  855-CENTRA-1 or 855-236-8721.
</p>
<p>

  We have live chat available <a href="http://centracorporation.com"> http://centracorporation.com</a>
</p>
<p>


  P.S if you visit our forum on our website, you can promote your business for free. It is like leaving a digital
  business card. You can link that back to your website. (Free backlink) Boost Google Rating.
</p>