<p>
  <strong>Centra Small Business</strong> wants to reach back out. We believe every business deserves the right to
  compete in their local market. In the very recent past we had identified key solutions that might be missing from your
  business. Our real attempt is to approach your business and offer a small investment in you. <br>
</p>
<p>

  If we were unsuccessful in explaining the motives behind Centra, we apologize. We truly do a few things out of the
  gate for free. That is our investment in you. We have chosen services that yield high results and in turn, help
  establish a relationship of trust, in hopes that we can grow together as partners.
</p>
<p>
  Our initial offer is forever changing due to the high success of new Centra partners every day. We have now been able
  to include an all-encompassing idea to help with all your web presence needs.
</p>
<p>
  1) We offer web hosting for your currents business website for life for free.<br>

  2) We will still offer the free mobile website conversion for your business. This is <strong>free</strong>. We ask
  that you host with us, but you are under no obligation to do so. Or hosting price is <strong>24.99</strong> per month.
  No hidden fees, no taxes. (Just think, you wouldn’t make your website only available to apple mac users or people on
  Firefox, why exclude mobile users?)<br>
  <br>

  3) We are managing hundreds of clients’ Google Maps Placements, also known as Google Local Listing. If your business
  is not placed, you completion is taking down your potential revenue. We will provide this service and work for you for
  free for one month to produce results first. Most companies want money now and sell the promise. <br>
  <br>
</p>
<p>

  Centra Small Business, a division of Centra Corporation, is growing rapidly and primarily on the fact that we have
  identified that many major brand companies takes advantage of the small and medium sized businesses. We want to put an
  end to that.<br>
</p>
<p>

  Call us just to ask question. Our advisors appreciate learning about all the different opportunities that are out
  there and what their background can bring to the table.<br>
</p>
<p>

  855-<strong>CENTRA</strong>-1 or 855-236-8721. <br>
</p>
<p>

  We have live chat available <a href="http://centracorporation.com">http://centracorporation.com</a>
</p>
<p>
  P.S if you visit our forum on our website, you can promote your business for free. It is like leaving a digital
  business card. You can link that back to your website. (Free backlink) Boost Google Rating.
</p>
