<p>
  This past week we attempted to deliver and host your mobile website for free. For Whatever reason, we were
  unsuccessful. Do understand that we offer these free entry levels services and products to predetermined businesses
  based on pure need. It is our way to invest in our clients. We are also offering free regular webhosting for life for
  free also.
</p>
<p>
  Centra Small Business is a full solutions and marketing arm of Centra
  Corporation. Our idea is to create partners more than clients. We would
  hope that doing a few things for free, up front, can establish a
  relationship of trust with mutual benefit.

</p>
<p>
  Take another look at your preview. <a href="<%= @preview_url %>"><%= @preview_url %><</a>
</p>
<p>
  Not having this available to your website traffic is like only letting
  people that use Internet Explorer view your website. That is how important.
</p>
<p>
  We offer free web hosting for life when we host your mobile site. That is
  something you can take care of at anytime. There is no cost to host
  your mobile website and your website, when you enroll in top Google placement.
</p>
<p>

  The other piece of our investment in your business was an offer to manage a
  Google Local Listing. When we do that we guarantee top placement in the
  maps. This is where the majority of your competition gets new clientele.
  We want to give that to you. We would not extend our resources if we knew it
  wasn't going to produce results.
</p>
<p>
  You can sign up for these services by clicking here and it will email you our agreement.
</p>
<p>

  Please do not hesitate to call us at 855-CENTRA-1 or 855-236-8721.<br>
  Our advisers are standing by to assist you. Or visit our website
  <a href="http://centracorporation.com">http://centracorporation.com</a> and chat with us.
</p>