Hello, <%= @name %>

Centra will be personally taking care of your mobile website implementation. In order to get the site up and live over
the next few days we are requesting the following information.

- Website Hosting Provider Company Name
- >Username and Password
- Domain Provider
- Username and Password

Sometimes you will need to retrieve these items separately (domain Name provider, and website hosting provider.)
This will allow us to set up the redirect code and take your site live ASAP

Please visit http://centracorporation.com/mobile-site-customer-information#!<%= @customer_id %></a>