<p>
  The mobile website conversion is almost complete. This is step one of the initial conversion. At this stage we
  consider it 80% done. We would like to get your input for changes.
</p>
<p>
  <a href="<%= @preview_url %>>"><%= @preview_url %></a>
</p>
<p>
  Please call as soon as you get this email so we can finish this up and go live. <br/>
  <strong>855-CENTRA-1 or 855-236-8721.</strong>
</p>
<p>
  You can also reply with a date and time for us to call you. <br/>
  As a solutions company our goal is to get valuable solutions in place quickly that will help better monetize current
  traffic to your website where business is getting lost. Once we go live with your mobile we encourage you if you
  haven’t already done so, make sure you are enrolled in the “Web Presence Management”, so that we can now drive traffic
  to your new mobile site.
</p>
<p>
  We do a few things up front for free because we want to invest in your business. This is the best way to begin a long
  term working partnership.
  If we don't hear from you, a solutions advisor has been assigned to your account, and they will be in contact with you
  shortly.
</p>
<p>
  Go to our site to chat with us <a href="http://www.centracorporation.com">http://www.centracorporation.com</a>. <br/>
</p>
