<style>
    .centra-content {
        font-family: Arial, Helvetica, sans-serif;
    }

    .centra-content p {
        font-family: Verdana, Geneva, sans-serif;
        line-height: 1.5em;
    }

    .centra-content .contacts {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2.0em;
    }
</style>

<div style="margin: auto;padding-bottom: 20px;text-align: center">
  <img src="http://centracorporation.com/media/files/logo.png"/>
</div>
<div class="centra-content">
  <%= yield %>
</div>
<br/>
<br/>
Thank You,<br/>
The Team @@ Centra<br/>
855-CENTRA-1 855-236-8721<br/>
<a href="http://centracorporation.com">http://centracorporation.com</a>
<p>
  <a href="<%= @unsubscribe_link %>">Unsubscribe</a>
  from updates by Centra Corporation
</p>


